@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Grey-3: #eaedec;
  --Grey-4: #818181;
  --Green: #00a859;
  --Orange: #f58634;
}

body {
  font-size: 16px;
  font-family: poppins;
  margin: 0;
}

.locations-production-earnings{
    display: flex;
    justify-content: space-evenly;
}

.manage-your-farms {
  display: flex;
  justify-content: space-around;
  padding: 6rem;
}

.all-farms {
  width: 60%;
}

.input-logged-report {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.input-logged-report h4 {
  font-size: 1.2rem;
  font-weight: 600;
  width: 55%;
  margin-bottom: 0;
  margin-top: 10px;
}

.month {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 0;
}

.input-and-earnings div,
.harvest-and-stock_alerts div {
  border: 1px solid var(--Grey-3);
  padding: 0.3rem 1rem;
  background-color: var(--Grey-3);
  margin: 1rem 0;
  border-radius: 30px;
  width: 86%;
}

.input-and-earnings div {
  box-shadow: 0px 2px 4px 0px var(--Green);
}

.harvest-and-stock_alerts div:nth-child(1) {
  box-shadow: 0px 2px 4px 0px var(--Green);
}

.harvest-and-stock_alerts div:nth-child(2) {
  box-shadow: 0px 2px 4px 0px var(--Orange);
}

.stocks {
  margin: 0;
}

.no-of-input-stocks,
.total-earnings,
.harvest-logged-in-kg,
.no-of-low-stock {
  font-weight: 700;
  font-size: 3rem;
  vertical-align: baseline;
}

.percentage-increase,
.percentage-decrease {
  padding: 0.1rem 0rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid;
  width: 32%;
  margin: 0;
  font-size: 14px;
}

.percentage-decrease img,
.percentage-increase img {
  vertical-align: middle;
}

.percentage-increase {
  border-color: var(--Green);
  color: var(--Green);
}

.percentage-decrease {
  border-color: var(--Orange);
  color: var(--Orange);
}

.last-month {
  font-size: 14px;
  color: var(--Grey-4);
}

.alerts-summary {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  align-items: center;
}

.harvest-summary,
.active-alerts {
  background-color: var(--Grey-3);
  padding: 2rem;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  padding-top: 0.5rem;
}

.active-alerts {
  padding-bottom: 1rem;
}

.active-alerts h3,
.harvest-summary h3 {
  font-size: 24px;
  margin-bottom: 9px;
  font-weight: 600;
}

.active-alerts .add-task {
  padding: 0.3rem 1rem;
  background-color: var(--Green);
  font: inherit;
  font-size: 14px;
  color: white;
  border: 1px solid var(--Green);
  border-radius: 5px;
}

.active-alerts .task {
  margin: 1rem 0;
}

.assigned-date {
  font-size: 14px;
  color: var(--Green);
}

.task button {
  padding: 0.3rem 1rem;
  font: inherit;
  font-size: 14px;
  color: var(--Orange);
  border: 2px solid var(--Orange);
  border-radius: 5px;
}

.active-alerts p {
  margin: 2px;
}

.harvest-summary p {
  font-size: 20px;
  margin: 13px;
}

.harvest,
.active-alerts div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.harvest img {
  vertical-align: middle;
  margin-right: 1rem;
}
