@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Light-Green: #7bc4a2b2;
  --Green: #00a859;
  --Grey: #d0d5dd;
}

body {
  font-family: Poppins;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
}

main img {
  width: 45%;
  height: 40%;
}

.account-create {
  margin-left: 10rem;
  width: 100%;
}

#password {
  background: url(/IMAGES/Frame\ 12.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 470px;
}

input {
  padding: 1rem;
  width: 70%;
  margin-top: 0.5rem;
  border-radius: 6px;
  font: inherit;
}

input[type="email"] {
  border: 2px solid var(--Green);
}

input[type="password"] {
  border: 2px solid var(--Grey);
}

input[type="submit"] {
  border: 2px solid var(--Green);
  background-color: var(--Green);
  width: 75%;
  font: inherit;
  color: white;
  font-weight: 600;
  padding: 0.8rem 1rem;
}

form div {
  margin: 2rem 0;
}

.continue-with-google {
  margin-top: 2rem;
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font: inherit;
  color: black;
  font-weight: 600;
  background-color: var(--Light-Green);
  text-align: center;
  border: 1px solid var(--Green);
  border-radius: 7px;
  width: 70%;
}

.continue-with-google img {
  width: 6%;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.log-in {
  color: var(--Grey);
  margin-left: 15%;
}

.log-in a {
  text-decoration: none;
  font: inherit;
  color: var(--Green);
}
